
body {
    padding: 5;
}
table {
    table-layout:fixed;
}
.trSelected {
    outline: dotted red;
}
.menuBox {
    outline: dotted yellow;
    background-color: LightYellow;
    padding: 8px;
}
td {
    border-width: 1px;
    border-color: white;
    border-style: solid;
    white-space: nowrap;
    padding: 2;
}
.cellPicked {
    background-color: yellow;
}
.position-fixed {
    position: fixed;
}

a:link {
    color: #000000;
}
a:visited {
    color: #440044;
}
