
<h3>News Browser <a href="../main.jsp"><img src="../home.gif" border="0"></a>

<div ng-show="!showTop">
<button ng-click="showTop=true">Show</button> {{showTop}}
</div>

<div ng-show="showTop" class="menuBox">
<button ng-click="showTop=false">Hide</button>
<form action="../newsFetch.jsp" method="post">
<input type="hidden" name="go" value="((go))">
<input type="hidden" name="sort" value="((HTMLWriter.writeHtml(out, sort);))">
    Max: <input name="max" type="text" value="" size="8">
    <input type="submit" name="command" value="SetMax">
<br/>
Start: <input name="start" type="text" value="" size="5"/>
Count: <input name="count" type="text" value="100" size="5">
Step: <input name="step" type="text" value="15" size="5">
<input type="submit" name="command" value="Refetch"> &nbsp;
<input type="submit" name="command" value="Fetch">
<input type="submit" name="command" value="Recalc Stats">
</form>
</div>

<hr/>
<table>
  <col width="20">
  <col width="20">
  <col width="30" >
  <col width="30">
  <col width="90">
  <col width="20">
  <tr>
     <td></td>
     <td colspan="7">Filter: <input ng-model="filterVal">
     <img ng-click="firstPage()" src="../ArrowFRev.gif"/>
     <img ng-click="prevPage()" src="../ArrowBack.gif"/>{{offset}}
     <img ng-click="nextPage()" src="../ArrowFwd.gif"/>
     <img ng-click="lastPage()" src="../ArrowFFwd.gif"/>
     <button ng-click="colTrim=40" ng-show="colTrim!=40">Narrow</button>
     <button ng-click="colTrim=120" ng-show="colTrim!=120">Wide</button>
     <button ng-hide="sort=='digest'" ng-click="sortDigest()" >Sort:Name</button>
     <button ng-hide="sort=='size'" ng-click="sortSize()" >Sort:Count</button> {{sort}}
     <button ng-show="showId" ng-click="showId=false">Hide ID</button>
     <button ng-show="!showId" ng-click="showId=true"/>Show ID</button>
     <a href="" ng-click="rereadData()">Refresh</a>
      </td>
  </tr>
  <tr ng-repeat="rec in getFiltered() | limitTo: pageSize"
      class="{{rec.digest==search ? 'trSelected':''}}">
     <td class="{{rec.hasZing ? 'cellPicked' :  ''}}">
         <a href="../newsDetailAction.jsp?dig={{rec.digest|encode}}&cmd=GetPatt&go={{thisPath|encode}}">
             <img ng-show="{{rec.hasTemplate}}" src="../pattSelect.gif">
         </a>
     </td>
     <td style="{{'background-color: '+ (rec.color ? rec.color : 'white')}};">
         <div>
             <a href="#/arts/{{rec.digest|btoa}}">
                {{rec.digest|limitTo:colTrim}}
             </a></td>
         </div>
     <td style="text-align: right;">{{rec.count}}</td>
     <td>
         <img ng-src="../{{rec.folderStyle}}" title="{{rec.folderLoc}}">
     </td>
     <td style="{{rec.cTotal>0 && rec.cTotal-rec.cDown==0 ? 'text-align: right;background-color: lightgreen;' : 'text-align: right;'}}">{{rec.cDown}}+{{rec.cComplete-rec.cDown}}+{{rec.cTotal-rec.cComplete}}</td>
     <td ng-show="showId">{{rec.minId}} - {{rec.maxId}}</td>
     <td ng-show="rec.hasTemplate">
         <a href="#/files/{{rec.digest|btoa}}">
            {{rec.template}}
         </a>
     </td>
  </tr>
</table>

<hr/>



<form action="../newsFetch.jsp">
(<input type="radio" name="batchop" value="hide"> Hide all)
(<input type="radio" name="batchop" value="complete"> Complete all)
(<input type="radio" name="batchop" value="seek"> Seek all)
(<input type="radio" name="batchop" value="download"> Download all)
(<input type="radio" name="batchop" value="store"> Set Path:
<input type="text" name="filePath" value="((HTMLWriter.writeHtml(out, zingFolder);))">)
<input type="submit" name="command" value="Batch Operation ((fetchNo))">
<br/>
<input type="hidden" name="go" value="../news.jsp?start=((start))">
<input type="submit" name="command" value="Scheduled Save">
<input type="submit" name="command" value="Save">
<input type="submit" name="command" value="Close">
<input type="submit" name="command" value="RecalcStats"> Days:
<input type="text" name="recalcDays" value="30" size="5">
Disk Folder:  (( HTMLWriter.writeHtml(out, newsGroup.defaultDiskMgr.diskName); ))
<br/>
<br/>
<input type="submit" name="command" value="Discard Articles"> Older Than:
<input type="text" name="earlyLimit" value="0">
Zing: (( HTMLWriter.writeHtml(out, zingFolder); ))/(( HTMLWriter.writeHtml(out, zingpat); ))
</form>

<p> News Group: <b>(( HTMLWriter.writeHtml(out, groupName); ))</b>,
   first article: (( newsGroup.firstArticle )),
   last article: (( newsGroup.lastArticle )),
   article count: (( newsGroup.articleCount  )),
   nextFetch: (( newsGroup.nextFetch  ))</p>
<p>
   fetched: (( newsGroup.getIndexSize() )),
   indexed: (( newsGroup.getIndexSize() )),
   lowest fetch: (( newsGroup.lowestFetched )),
   highest fetch: (( newsGroup.highestFetched ))</p>



<hr/>
